[
  {
    "Description": "rhel83-from-pub",
    "Format": "raw",
    "UserBucket": {
        "S3Bucket": "rhg-aws-disk-image-import-export",
	"S3Key": "imports/export-ami-0348d9e5bd102ecf8.raw"
    }
}]
